doctype
html(lang="en")
  head
    title Hardboiled Web Design
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="descritption", content="")
    meta(name="author", content="")
    meta(name="robots", content="INDEX,FOLLOW")
    meta(name="apple-mobile-web-app-title", content="")
  
    link(rel="canonical", href="")
  
    // CSS
    link(rel="stylesheet", type="text/css", href="css/320andup.css")
  
    // Favicon
    link(rel="shortcut icon", type="image/ico", href="/favicon.ico")
    link(rel="shortcut icon", href="/favicon.png" sizes="32x32")
    
    //iOS
    link(rel="apple-touch-icon", href="/assets/img/site/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/assets/img/site/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/assets/img/site/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/assets/img/site/apple-touch-icon-144x144-precomposed.png")
    
    // Facebook / Twitter card
    
    meta(name="twitter:card" content="")
    meta(name="twitter:site" content="")
    meta(name="twitter:url" property="og:url" content="")
    meta(name="twitter:title" property="og:title" content="")
    meta(name="twitter:description" property="og:description" content="")
    meta(name="twitter:image" property="og:image" content="")
    
    // Windows
    
    meta(name="msapplication-TileColor" content="")
    meta(name="msapplication-TileImage" content="/assets/img/site/apple-touch-icon-precomposed.png")
    
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Merriweather|Lato:400,300,700", rel="stylesheet", type="text/css")
    
    // Body
    
    body(id="www-hardboiledwebdesign-com")
      .pattern__container
        .pattern__page#pattern__cover
          .pattern__cover__logo
            a(href="https://stuffandnonsense.co.uk/buy/hardboiledwebdesign")
            img(src="assets/img/patterns/pattern-cover.jpg")
          p.pattern__cover__intro
            a(href="https://stuffandnonsense.co.uk/buy/hardboiledwebdesign", class="btn") Available in paperback and ebook formats
          h1.pattern__cover__header Hardboiled Web Design Style Guide
          
          // Pattern Page
          
        section.pattern__page#pattern__contents
          .pattern-col-all
            h2.pattern__contents__header Contents
          
          // col-all
          .pattern-col-all
            .pattern__contents__columns
              h3.pattern__contents__title Branding
              ol.pattern__contents__list
                li 
                  a(href="#pattern__branding") Main Branding
                li 
                  a(href="#pattern__colours") Colours
            
              h3.pattern__contents__title Typography
              ol.pattern__contents__list
                li 
                  a(href="#pattern__primary__typeface") Primary typeface
                li 
                  a(href="#pattern__complementary__typeface") Complementary typeface
                  
              h3.pattern__contents__title Type elements
              ol.pattern__contents__list
                li
                  a(href="#pattern__typography__headings") Headings
                li
                  a(href="#pattern__typography__paragraphs") Paragraphs
                li
                  a(href="#pattern__typography__quotations") Quotations
                li
                  a(href="#pattern__typography__lists") Lists
                li
                  a(href="#pattern__list__modules") List modules
                li
                  a(href="#pattern__list__text") Text-level elements
                li
                  a(href="#pattern__list__tables") Tables
                li
                  a(href="#pattern__form__inputs") Form inputs
                li
                  a(href="#pattern__form__buttons") Form buttons
              
              h3.pattern__contents__title Modules
                ol.pattern__contents__list
                  li
                    a(href="#pattern__modules__media") Media module
                  li
                    a(href="#pattern__modules__faqs") FAQs
                  
          footer.pattern__contents__footer
            small Design by                
              a( href="https://stuffandnonsense.co.uk") Stuff and Nonsense.
              
        // Next -> Branding  
        section.pattern__page#pattern__branding
          .pattern-col-all
            .pattern-col.pattern-col1-col2
              h1.pattern__page__header Main branding
          
          .pattern-col-all
            .pattern-col.pattern-col1-col2
              figure
                img(src="http://placehold.it/640x480")
                figcaption Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
              
            .pattern-col.pattern-col3
              figure
                img(src="http://placehold.it/300x200")
                figcaption Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
                
        // Next -> Colours
        section.pattern__page#pattern__colours
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h1.pattern__page__header Colours in use
              
          
          .pattern-col-all
            .pattern-col.pattern-col2
              p
                img(src="http://placehold.it/150x100")
              h5 Primary colour
              p.milli Used for hypertext link colour and the backgrounds of primary calls-to-action including buttons.
              
            .pattern-col.pattern-col3
              p
                img(src="http://placehold.it/150x100")
              h5 Secondary colour
              p.milli Used for hover states on hypertext links and the backgrounds of primary calls-to-action including buttons.
          
          .pattern-col-all
            .pattern-col.pattern-col2
              p
                img(src="http://placehold.it/150x100")
              h5 Base colour
              p.milli Used in the backgrounds of buttons, boxes, tables and other elements.
              
            .pattern-col.pattern-col3
              p
                img(src="http://placehold.it/150x100")
              h5 Border colour
              p.milli Used on the borders of buttons, boxes and other elements.

        // Next -> Typography
        section.pattern__page#pattern__primary__typeface
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h1.pattern__page__header Primary typeface
              p.tertiary Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Regular
            
            .pattern-col.pattern-col2-col3
              p(style="font-size:2.4rem;letter-spacing:-2px") A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ? ! @ £ $ % & 1 2 3 4 5 6 7 8 9 0 a b c d e f g h i j k l m n o p q r s t u v w x y z
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Regular It
            
            .pattern-col.pattern-col2-col3
              p(style="font-size:2.4rem;font-style:italic;letter-spacing:-2px") A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ? ! @ £ $ % & 1 2 3 4 5 6 7 8 9 0 a b c d e f g h i j k l m n o p q r s t u v w x y z
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Light
            
            .pattern-col.pattern-col2-col3
              p(style="font-size:2.4rem;font-weight:300;letter-spacing:-2px") A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ? ! @ £ $ % & 1 2 3 4 5 6 7 8 9 0 a b c d e f g h i j k l m n o p q r s t u v w x y z
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Light It
            
            .pattern-col.pattern-col2-col3
              p(style="font-size:2.4rem;font-weight:300;font-style:italic;letter-spacing:-2px") A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ? ! @ £ $ % & 1 2 3 4 5 6 7 8 9 0 a b c d e f g h i j k l m n o p q r s t u v w x y z
        
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Bold
            
            .pattern-col.pattern-col2-col3
              p(style="font-size:2.4rem;font-weight:700;letter-spacing:-2px") A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ? ! @ £ $ % & 1 2 3 4 5 6 7 8 9 0 a b c d e f g h i j k l m n o p q r s t u v w x y z
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Bold It
            
            .pattern-col.pattern-col2-col3
              p(style="font-size:2.4rem;font-weight:700;font-style:italic;letter-spacing:-2px") A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ? ! @ £ $ % & 1 2 3 4 5 6 7 8 9 0 a b c d e f g h i j k l m n o p q r s t u v w x y z
            
        // Next -> Complementary typeface
        section.pattern__page#pattern__complementary__typeface
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h1.pattern__page__header Complementary Typography
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Regular
              
            .pattern-col.pattern-col2-col3
              p(style="font-size:12rem;line-height:.75") abc
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Regular
              
            .pattern-col.pattern-col2-col3
              p.secondary Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Regular Caps
              
            .pattern-col.pattern-col2-col3
              p.secondary(style="text-transform:uppercase") Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Regular Caps It
              
            .pattern-col.pattern-col2-col3
              p.secondary(style="text-transform:uppercase;font-style:italic") Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
              
        // Next -> Headings
        section.pattern__page#pattern__typography__headings
          h1.pattern__heading Headings
          .pattern__item
            .pattern__type h1
              h1 Are you ready to get Hardboiled?
              .pattern__notes
          
          .pattern__item
            .pattern__type h2
              h2 Are you ready to get Hardboiled?
              .pattern__notes
          
          .pattern__item
            .pattern__type h3
              h3 Are you ready to get Hardboiled?
              .pattern__notes
          
          .pattern__item
            .pattern__type h4
              h4 Are you ready to get Hardboiled?
              .pattern__notes
          
          .pattern__item
            .pattern__type h5
              h5 Are you ready to get Hardboiled?
              .pattern__notes
          
          .pattern__item
            .pattern__type h6
              h6 Are you ready to get Hardboiled?
              .pattern__notes

        // Next -> Paragraphs
        section.pattern__page#pattern__typography__paragraphs
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h1.pattern__page__header Paragraphs
        
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Lead paragraph
                  
            .pattern-col.pattern-col2-col3
              p.lead If you&#8217;re hungry to learn about making your design process more suited for today&#8217;s websites and applications, and how the latest technologies and techniques will make them more responsive, then this is the book for you.
                  
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Unclassified paragraph
              
            .pattern-col.pattern-col2-col3
              p If you&#8217;re hungry to learn about making your design process more suited for today&#8217;s websites and applications, and how the latest technologies and techniques will make them more responsive, then this is the book for you.
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Secondary paragraph
              
            .pattern-col.pattern-col2-col3
              p.secondary If you&#8217;re hungry to learn about making your design process more suited for today&#8217;s websites and applications, and how the latest technologies and techniques will make them more responsive, then this is the book for you.
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Tertuary paragraph
              
            .pattern-col.pattern-col2-col3
              p.tertiary If you&#8217;re hungry to learn about making your design process more suited for today&#8217;s websites and applications, and how the latest technologies and techniques will make them more responsive, then this is the book for you.
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Milli paragraph
              
            .pattern-col.pattern-col2-col3
              p.milli If you&#8217;re hungry to learn about making your design process more suited for today&#8217;s websites and applications, and how the latest technologies and techniques will make them more responsive, then this is the book for you.
              
        // Next -> Citations
        section.pattern__page#pattern__typography__quotations
          h1.pattern__heading Quotations
            .pattern__item
              blockquote
                p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
                <small><cite>Are you ready to get Hardboiled?</cite></small>
                
        // Next -> Lists
        section.pattern__page#pattern__typography__lists
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h1.pattern__page__header Lists
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Unordered list
              
            .pattern-col.pattern-col2-col3
              ul
                li Unordered list item
                li Unordered list item
                li Unordered list item
                li Unordered list item                
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Nested unordered list
              
            .pattern-col.pattern-col2-col3
              ul
                li Unordered list item
                  ul 
                    li Unordered list item
                    li Unordered list item
                li Unordered list item
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Ordered list
            
            .pattern-col.pattern-col2-col3
              ol
                li Ordered list iterm
                li Ordered list iterm
                li Ordered list iterm
                li Ordered list iterm
        
                
        // Next -> Definition lists
        section.pattern__page#pattern__list__modules
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h1.pattern__page__header Definition list
          
          .pattern-col-all.pattern__item
            .pattern-col.pattern-col1
              p.milli Definition list
              
            .pattern-col.pattern-col2-col3
              dl
                dt Are you ready to get Hardboiled?
                dd Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
                dt Are you ready to get Hardboiled?
                dd Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
                
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              .pattern__page__header Text-level elements
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli em, strong, i, b, abbr, cite, code, del, ins, dfn, markm sup and sub
                
            .pattern-col.pattern-col2-col3
              p ext level <abbr title="HyperText Markup Language">HTML</abbr> elements may be used within other elements. They include: <em>em</em> and <strong>strong</strong> for semantic emphasis, <i>i</i> and <b>b</b> for presentational formatting, <abbr title="Abbreviation">abbr</abbr> abbreviations, <cite>cite</cite> citations, <code>code</code> example, <del>del</del>, <ins>ins</ins> for visibly deleted and inserted content, <dfn>dfn</dfn> definitions, <mark>mark</mark> for highlighted passages, <sup>sup</sup> superscript and <sub>sub</sub> subscript.
              
        // Next -> Inline list
        section.pattern__page#pattern__list__text
          .pattern-col-all.pattern__item
            .pattern-col.pattern-col1
              p.milli Inline list
              
            .pattern-col.pattern-col2-col3
              ul.list--inline
                li 
                  a(href="javascript:void(0)") About
                li 
                  a(href="javascript:void(0)") Contact
                li 
                  a(href="javascript:void(0)") Privacy
                li 
                  a(href="javascript:void(0)") Terms and conditions
                
        // Next -> Tables 
        section.pattern__page#pattern__list__tables
          .pattern-col-all
            h1.pattern__page__header Tables
            
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Unclassified table
              
            .pattern-col.pattern-col2-col3
              table
                thead
                  tr
                    th(scope="col") Header
                    th Header
                    th Header
                    
                tbody
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Condensed table
              
            .pattern-col.pattern-col2-col3
              table.table--condensed
                thead
                  tr
                    th(scope="col") Header
                    th Header
                    th Header
                    
                tbody
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
          
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Striped table
              
            .pattern-col.pattern-col2-col3
              table.table--stripe
                thead
                  tr
                    th(scope="col") Header
                    th Header
                    th Header
                    
                tbody
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
                  tr
                    th(scope="row") Data
                    td 1,000
                    td 2,000
                    
        // Next -> Forms
        section.pattern__page#pattern__form__inputs
          .pattern-col-all
            h1.pattern__page__header Form inputs
            
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Text
              
            .pattern-col.pattern-col2-col3
              input(type="text" id="text" class="form-control")
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Email
              
            .pattern-col.pattern-col2-col3
              input(type="email" id="email" class="form-control" placeholder="Must contain an @ symbol")
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli URL
              
            .pattern-col.pattern-col2-col3
              input(type="url" id="url" class="form-control" placeholder="http//")
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Number
              
            .pattern-col.pattern-col2-col3
              imput(type="number" id="number" class="form-control")
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Tel
              
            .pattern-col.pattern-col2-col3
              input(type="tel" id="tel" class="form-control" placeholder="555.555.5555")
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Select
              
            .pattern-col.pattern-col2-col3
              select.form-control
                option Jan
                option Feb
                option March
                option April
                option May
                
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Select
              
            .pattern-col.pattern-col2
              ul.list--plain
                li
                  label.checkbox Checkbox
                    input(type="checkbox" checked)
                li
                  label.checkbox Checkbox
                    input(type="checkbox")
                    
            .pattern-col.pattern-col3
              ul.list--plain
                li
                  label.radio
                    input(type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked)
                li
                  label.radio
                    input(type="radio" name="optionRadios" id="optionsRadios2" value="option2")
                  
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Textarea
              
            .pattern-col.pattern-col2-col3
              textarea.form-control(id="textarea")
              
              
          .pattern-col-all
            .pattern-col.pattern-col1
              p.milli Search
              
            .pattern-col.pattern-col2-col3
              .form__search
                input(type="search" placeholder="Enter keywords")
                button.btn Search
        
        // Next -> Buttons
        section.pattern__page#pattern__form__buttons
          .pattern-col-all
            h1.pattern__page__header Buttons
            
            .pattern-col-all
              .pattern-col.pattern-col1
                p.milli System button and link
              
              .pattern-col.pattern-col2-col3
                p
                  button System button
                  and
                  a(href="javascript:void(0)") hyperlink
            
            .pattern-col-all
              .pattern-col.pattern-col1
                p.milli Large button
              
              .pattern-col.pattern-col2-col3
                p
                  button.btn.btn--large Button
                  button.btn.btn--primary.btn--large Primary
                  a.btn.btn--large(href="javascript:void(0)") Hyperlink
                  
            .pattern-col-all
              .pattern-col.pattern-col1
                p.milli Standard button
                
              .pattern-col.pattern-col2-col3
                button.btn Bouton
                button.btn.btn--primary Primary
                a.btn(href="javascript:void(0)") Hyperlink
                  
            .pattern-col-all
              .pattern-col.pattern-col1
                p.milli Mini button
                
              .pattern-col.pattern-col2-col3
                button.btn.btn--mini Button
                button.btn.btn--primary.btn--mini Primary
                a.btn.btn--mini(href="javascript:void(0)") Hyperlink
                  
            .pattern-col-all
              .pattern-col.pattern-col1
                p.milli Small button
                
              .pattern-col.pattern-col2-col3
                button.btn.btn--small Button
                button.btn.btn--primary.btn--small Primary
                a.btn.btn--small(href="javascript:void(0)") Hyperlink
                  
            .pattern-col-all
              .pattern-col.pattern-col1
                p.milli Block button
                
              .pattern-col.pattern-col2-col3
                button.btn.btn--block Button
      
        // Next -> Module Médias
        section.pattern__page#pattern__modules__media
          .pattern-col-all
            h1.pattern__page__header Media
            
          .media
            .media__figure
              img(src="http://placehold.it/150x150")
              
            .media__content
              h3.media__header
                a(href="javascript:void(0)") Are you ready to get Hardboiled?
                
              p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
            
          .media.media--reverse
            .media__figure
              img(src="http://placehold.it/150x150")
              
            .media__content
              h3.media__header
                a(href="javascript:void(0)") Are you ready to get Hardboiled?
                
              p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
      
        // Next -> FAQs
        section.pattern__page#pattern__modules__faqs
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h1.pattern__page__header FAQ
              
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h3.faq__question
                a(href="#faq-1") Are you ready to get Hardboiled?
              .faq__answer#faq-1
                p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h3.faq__question
                a(href="#faq-1") Are you ready to get Hardboiled?
              .faq__answer#faq-1
                p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
          
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h3.faq__question
                a(href="#faq-1") Are you ready to get Hardboiled?
              .faq__answer#faq-1
                p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
                                
        // Next -> Pied de page
        section.pattern__page
          .pattern-col-all
            h1.pattern__page__header 
