doctype
html(lang="fr")
  head
    title Clôture Philippe Paquette
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="descritption", content="Grille réf CPP")
    meta(name="author", content="Marc Lemaire M.S.I.")
    meta(name="robots", content="INDEX,FOLLOW")
    meta(name="apple-mobile-web-app-title", content="CPP")
  
    link(rel="canonical", href="")
  
    // CSS
    link(rel="stylesheet", type="text/css", href="css/320andup.css")
  
    // Favicon
    link(rel="shortcut icon", type="image/ico", href="/favicon.ico")
    link(rel="shortcut icon", href="/favicon.png" sizes="32x32")
    
    //iOS
    link(rel="apple-touch-icon", href="/assets/img/site/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/assets/img/site/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/assets/img/site/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/assets/img/site/apple-touch-icon-144x144-precomposed.png")
    
    // Facebook / Twitter card
    
    meta(name="twitter:card" content="sommaire")
    meta(name="twitter:site" content="Cloture Philippe Paquette")
    meta(name="twitter:url" property="og:url" content="http://cloturepp.com")
    meta(name="twitter:title" property="og:title" content="")
    meta(name="twitter:description" property="og:description" content="")
    meta(name="twitter:image" property="og:image" content="")
    
    // Windows
    
    meta(name="msapplication-TileColor" content="")
    meta(name="msapplication-TileImage" content="/assets/img/site/apple-touch-icon-precomposed.png")
    
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Merriweather|Lato:400,300,700", rel="stylesheet", type="text/css")
    
    // Début Body
    
    body(id="www-cloturecpp-com")
      .pattern__container
        .pattern__page#pattern__cover(role="main")
          .pattern__cover__logo
            img(src="assets/img/patterns/CPP.png")
            
          h1.pattern__cover__header Des clôtures uniques
          h5.pattern__cover__intro Expertise, qualité et prix compétitifs
          h6.pattern__cover__date <em>- depuis 2010 -</em>
        
        // Présentation 
        section.pattern__page#pattern__contents
          .pattern-col-all
            h2.pattern__contents__header Contenu
          .pattern-col-all
            .pattern__contents__columns
              nav(role="navigation")
                h3.pattern__contents__title 
                  a(href="#presentation__cpp") Clôtures Philippe Paquette
                ol.pattern__contents__list
                  li 
                    a(href="#pattern__compagnie") Notre compagnie
                  li 
                    a(href="#pattern__mission") Notre mission
                  li 
                    a(href="#pattern__modeles") Nos modèles
              
                h3.pattern__contents__title 
                  a(href="#cloture__fer__ornemental") Clôtures en fer ornemental
                ol.pattern__contents__list
                  li 
                    a(href="#cloture__ornemental__1000") Série 1000
                  li 
                    a(href="#cloture__ornemental__2000") Série 2000
                  li 
                    a(href="#cloture__ornemental__5000") Série 5000
                  li 
                    a(href="#cloture__ornemental__8000") Série 8000
                  li 
                    a(href="#cloture__ornemental__9000") Série 9000
                    
                h3.pattern__contents__title
                  a(href="#cloture__panneau") Clôtures à panneaux
                ol.pattern__contents__list
                  li
                    a(href="#cloture__panneau__3000") Série 3000
                  li
                    a(href="#cloture__panneau__4000") Série 4000
                  li
                    a(href="#cloture__panneau__4500") Série 4500
                    
                h3.pattern__contents__title
                  a(href="#cloture__panneau__hybride") Clôtures à panneaux hybrides métal-bois
                ol.pattern__contents__list
                  li
                    a(href="#cloture__panneau__hybride") Série <em>Intimité</em>
                    
                h3.pattern__contents__title
                  a(href="#cloture__panneau__verre") Clôtures à panneaux de verre
                ol.pattern__contents__list
                  li
                    a(href="#cloture__verre__cadre") Série <em>Verre</em>
                  li
                    a(href="#cloture__verre__sanscadre") Série <em>Verre</em> sans cadre
                    
                h3.pattern__contents__title 
                  a(href="#cloture__maille__chaine") Clôtures en maîlle de chaîne
                ol.pattern__contents__list
                  li
                    a(href="#maille__chaine__residentielle") Maîlle de chaîne résidentielle
                  li
                    a(href="#maille__chaine__commerciale") Maîlle de chaîne commerciale
                      
                h3.pattern__contents__title 
                  a(href="#cloture__finis") Nos finis
                ol.pattern__contents__list
                  li
                    a(href="#cloture__finis--couleurs") Finis couleurs
                  li
                    a(href="#cloture__finis--speciaux") Finis spéciaux
              
                h3.pattern__contents__title 
                  a(href="#cloture__accessoires") Nos accessoires
                ol.pattern__contents__list
                  li
                    a(href="#cloture__accessoires--rampe") Rampe
                  li
                    a(href="#cloture__accessoires--rampeenverre") Rampe en verre
                  li
                    a(href="#cloture__accessoires--barriere") Barrière
                  li
                    a(href="#cloture__accessoires--barrierecoulissante") Barrière coulissante
                  li
                    a(href="#cloture__accessoires--portail") Portail
                  li
                    a(href="#cloture__accessoires--tonnelle") Tonnelle
                    
                h3.pattern__contents__title Questions fréquemments posées
                
                h3.pattern__contents__title Nous contacter
                  
          footer.pattern__contents__footer
            small Design by                
              a( href="") Nunsense.
                
                
        // Next -> Présentation
        section.pattern__page#presentation__cpp
          .pattern-col-all
            header
              h1.pattern__page__header#pattern__compagnie Notre compagnie
              p.lead Nous sommes installés depuis plus de cinq ans à Farnham dans la magnifique région des Cantons de l'Est. <em>Clôtures Philippe Paquette</em> se distingue par son expertise dans l'installation de clôtures, la qualité de ses produits et de ses prix compétitifs. Forte d'une expertise de plus de dix ans dans le domaine, nous avons à coeur la satisfaction du client et la fierté du travail bien fait.
              
              h2.pattern__page__header#pattern__mission Notre mission
              p Notre mission est la réalisation de vos projets. Nous avons à coeur le souci du détail et la satisfaction de notre clientèle. Afin d'assurer cet objectif, nous allons sur le terrain installer la clôture que vous avez acheté. Nous détenons une licence d'entrepreneur spécialisé et avons à notre disposition tout l'équipement nécessaire pour assurer une installation impeccable peu importe le type de terrain. 
              
              p Si vous le désirez, nous pouvons aussi vous fournir tout le matériel et les informations nécessaires pour installer vous-même votre clôture.
              
              h2.pattern__page__header#pattern__modeles Nos modèles
              p Voici nos modèles de clôtures en fer ornemental et en panneaux. Chaque série est disponible en plusieurs modèles dans un choix de couleurs et finis ajoutant une touche personnelle à votre projet.
            
        // Next -> Clôtures Fer ornemental
        section.pattern__page.hb-shelf#cloture__fer__ornemental
          .pattern-col-all
            h1.pattern__page__header.h-product Clôtures en fer ornemental
            p.e-description Très utilisé pour les façades de maisons ou délimiter le périmètre d'une piscine, le fer ornemental ajoute de la valeur à votre propriété. Nous avons le modèle qui répond à vos besoins.
            
          article.media.h-product#cloture__ornemental__1000
            figure.media__figure.figure--ornemental
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description.figure--reverse Série 1000
              
            .media__content
              h3.media__header.p-name <span p-category>Série 1000</span>
              p.e-description Solide, légère et sécuritaire, la série 1000 est idéale pour délimiter le périmètre d'une piscine ou d'un jardin. La structure légère confère un esprit de légèreté à ce modèle. Nous avons une sélection de plus de 38 modèles qui saura combler vos attentes.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique série 1000
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 24″, 36″, 48″, 60″
                  tr
                    td Poteau :
                    td 1½″ x 1½″
                    td Acier calibre 16
                  tr
                    td Traverse :
                    td ¾″ x ¾″
                    td Acier calibre 14
                  tr
                    td Barrotin :
                    td ½″ x ½″
                    td Acier calibre 18
                    
          article.media.h-product#cloture__ornemental__2000
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série 2000
              
            .media__content
              h3.media__header.p-name <span p-category>Série 2000</span>
                
              p.e-description Plus solide que la série précédente, la série 2000 est idéale pour délimiter le contour de votre propriété ou embellir une facade. Nous avons une sélection de plus de 38 modèles qui saura combler vos attentes.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique série 2000
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 24″, 36″, 48″, 60″, 72″
                  tr
                    td Poteau :
                    td 2″ x 2″
                    td Acier calibre 16
                  tr
                    td Traverse :
                    td 1″ x 1″
                    td Acier calibre 14
                  tr
                    td Barrotin :
                    td ⅝″ x ⅝″
                    td Acier calibre 18
        
          article.media.h-product#cloture__ornemental__5000
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série 5000
              
            .media__content
              h3.media__header.p-name <span p-category>Série 5000</span>
                
              p.e-description Similaire en tout point à la série 2000, la série 5000 se distingue par les barrotins qui passent au travers du canal rainure pour plus de solidité.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique série 5000
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 24″, 36″, 48″, 60″, 72″
                  tr
                    td Poteau :
                    td 2″ x 2″
                    td Acier calibre 16
                  tr
                    td Traverse :
                    td 1″ x 1″
                    td Acier calibre 14
                  tr
                    td Barrotin :
                    td ⅝″ x ⅝″
                    td Acier calibre 18
                    
          article.media.h-product#cloture__ornemental__8000
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série 8000
              
            .media__content
              h3.media__header.p-name <span p-category>Série 8000</span>
                
              p.e-description L'imposante série 8000 peut servir à des applications résidentielles, commerciales et industrielles. Elle vous est offerte dans une variété de finis, de modèles et de hauteurs qui saura combler toutes vos exigences.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique série 8000
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 24″, 36″, 48″, 60″, 72″, 84″, 96″
                  tr
                    td Poteau :
                    td 2½″ x 2½″
                    td Acier calibre 14
                  tr
                    td Traverse :
                    td 1½″ x 1½″
                    td Acier calibre 14
                  tr
                    td Barrotin :
                    td ¾″ x ¾″
                    td Acier calibre 18
                    
          article.media.h-product#cloture__ornemental__9000
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série 9000
              
            .media__content
              h3.media__header.p-name <span p-category>Série 9000</span>
                
              p.e-description Conçue pour répondre à des applications commerciales et industrielle. La série 9000 impose par la qualité, la solidité et la hauteur permise. Cette série est offerte dans une vaste gamme de modèles et de couleurs.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique série 9000
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 24″, 36″, 48″, 60″, 72″, 84″, 96″, 108″, 120″, 144″
                  tr
                    td Poteau :
                    td 3″ x 3″
                    td Acier calibre 14
                  tr
                    td Traverse :
                    td 1½″ x 1½″
                    td Acier calibre 14
                  tr
                    td Barrotin :
                    td 1″ x 1″
                    td Acier calibre 16 – 18
                    
                  
            
        // Next -> Clôtures à panneaux
        section.pattern__page#cloture__panneau
          .pattern-col-all
            h2.pattern__page__header Clôture à panneaux
            p.e-description La série 3000 est une clôture à panneaux de type <em>Intimité</em>. Vous trouverez la même qualité de fini des deux cotés. La solidité de l'acier galvanisé, ainsi que sa finition durable vous assurera un produit de haute qualité sans entretien. Choix varié de couleurs et hauteurs.
            
          article.media--reverse.media.h-product#cloture__panneau__3000
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série 3000
              
            .media__content
              h3.media__header.p-name <span p-category>Série 3000</span>
                
              p.e-description La série 3000 est une clôture à panneaux de type <em>Intimité</em>. Vous trouverez la même qualité de fini des deux cotés. La solidité de l'acier galvanisé, ainsi que sa finition durable vous assurera un produit de haute qualité sans entretien. Choix varié de couleurs et hauteurs.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique série 3000
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 36″, 48″, 60″, 72″
                  tr
                    td Poteau :
                    td 2½″ x 2½″
                    td Acier calibre 14
                  tr
                    td Traverse :
                    td 1⅝″ x 1⅝″
                    td Acier calibre 14
                  tr
                    td Profilé en U :
                    td 1¾″ x 1¾″
                    td Acier calibre 18
                  tr
                    td Panneau :
                    td Largeur 8″
                    td Acier calibre 22 
        
        
          article.media--reverse.media.h-product#cloture__panneau__4000
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série 4000
              
            .media__content
              h3.media__header.p-name <span p-category>Série 4000</span>
                
              p.e-description La série 4000 comporte les mêmes caractéristiques techniques que notre série 3000 mais avec l'ajout d'un treillis donnant une allure de légèreté à l'ensemble.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique série 4000
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 36″, 48″, 60″, 72″
                  tr
                    td Poteau :
                    td 2½″ x 2½″
                    td Acier calibre 14
                  tr
                    td Traverse :
                    td 1⅝″ x 1⅝″
                    td Acier calibre 14
                  tr
                    td Profilé en U :
                    td 1¾″ x 1¾″
                    td Acier calibre 18
                  tr
                    td Panneau :
                    td Largeur 8″
                    td Acier calibre 22
                    
                    
          article.media--reverse.media.h-product#cloture__panneau__4500
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série 4500
              
            .media__content
              h3.media__header.p-name <span p-category>Série 4500</span>
                
              p.e-description La série 4500 comporte les mêmes caractéristiques techniques que notre série 3000 mais avec l'ajout d'une clôture ornementale conférant à l'ensemble une allure majestueuse.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique série 4500
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 36″, 48″, 60″, 72″
                  tr
                    td Poteau :
                    td 2½″ x 2½″
                    td Acier calibre 14
                  tr
                    td Traverse :
                    td 1⅝″ x 1⅝″
                    td Acier calibre 14
                  tr
                    td Profilé en U :
                    td 1¾″ x 1¾″
                    td Acier calibre 18
                  tr
                    td Panneau :
                    td Largeur 8″
                    td Acier calibre 22
                    
      
        // Next -> Clôtures à panneaux hybrides
        section.pattern__page#cloture__panneau__hybride
          .pattern-col-all
            h2.pattern__page__header.p-name <span p-category>Clôtures à panneaux hybrides métal-bois</span>
            p.e-description La série <em>Intimité</em> procure chaleur et  prestige. Cette série est un judicieux mariage entre la série 5000 et la clôture de bois. Un solide cadre d'acier assure une robustesse à long terme et les panneaux de bois protègent votre intimité avec une touche de naturel. S'intègre facilement dans tout type d'aménagement.
            
          article.media.h-product#cloture__panneau__hybride
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série <em>Intimité</em>
              
            .media__content
              h3.media__header.p-name <span p-category>Série <em>Intimité</em></span>
                
              p.e-description La série <em>Intimité</em> en acier et bois est disponible dans les séries 3000, 4000 et 4500.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique Série <em>Intimité</em>
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 36″, 48″, 60″, 72″
                  tr
                    td Poteau :
                    td 2½″ x 2½″
                    td Acier calibre 14
                  tr
                    td Traverse :
                    td 1⅝″ x 1⅝″
                    td Acier calibre 14
                  tr
                    td Profilé en U :
                    td 1¾″ x 1¾″
                    td Acier calibre 18
                  tr
                    td Panneau :
                    td Largeur 8″
                    td Acier calibre 22 
                    
        // Next -> Clôtures en verre
        section.pattern__page#cloture__panneau__verre
          .pattern-col-all
            h2.pattern__page__header.p-name <span p-category>Clôture à panneaux de verre</span>
            p.e-description La série <em>Verre</em> procure un sentiment de liberté et vient vous charmer avec sa transparence et son allure délicate. C'est le modèle idéal pour tout aménagement tourné vers l'extérieur. Fabriquée en verre borosilicate, elle résiste aux mauvais traitements et exige peu d'entretien.
            
          article.media.media--reverse.h-product#cloture__verre__cadre
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série <em>Verre</em>
              
            .media__content
              h3.media__header.p-name <span p-category>Série <em>Verre</em></span>
                
              p.e-description Notre série <em>Verre</em> saura transformer n'importe quel patio en un lieu magique, ouvert et invitant. Elle peut aussi avantageusement transformer toute entrée ou balcon de maison.
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique Série <em>Verre</em>
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 24″, 32″, 36″, 42″, 48″, 60″
                  tr
                    td Verre :
                    td(colspan="2") Épaisseur 6mm
                  tr
                    td Poteau :
                    td 2″ x 2″
                    td Acier Acier calibre 16
                  tr
                    td Traverse :
                    td 1″ x 1″
                    td Acier Acier calibre 14
                    
          article.media.media--reverse.h-product#cloture__verre__sanscadre
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Série <em>Verre</em> sans cadre
              
            .media__content
              h3.media__header.p-name <span p-category>Série <em>Verre</em> sans cadre</span>
                
              p.e-description L'absence de cadre métallique et la solidité de notre verre en borosilicate de 10mm d'épaisseur assure une fonctionnalité et sécurité tout en transformant vos lieux de loisirs. 
              
              aside(role="complementary")
                table.table--stripe
                  thead
                    tr
                      th(colspan="3") Fiche technique Série <em>Verre</em> sans cadre
                  tr
                    td Hauteur disponibles : 
                    td(colspan="2") 24″, 32″, 36″, 42″, 48″, 60″, 72″
                  tr
                    td Verre :
                    td(colspan="2") Épaisseur 10mm
                  tr
                    td Poteau :
                    td 2″ x 2″
                    td Acier Acier calibre 16
                  tr
                    td Attache :
                    td(colspan="2") Acier inoxydable
                    
        // Next -> Clôtures en maille de chaîne
        section.pattern__page#cloture__maille__chaine
          .pattern-col-all
            h2.pattern__page__header.p-name <span p-category>Maîlle de chaîne</span>
            p.e-description La classique clôture en maille de chaîne est réputée pour sa solidité, sa polyvalence et son prix économique. Nous nous démarquons par un choix de matériaux de qualité supérieure et une installation irréprochable.
            
          article.media.h-product#maille__chaine__residentielle
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Maille de chaîne résidentielle
              
            .media__content
              h3.media__header.p-name <span p-category>Maille de chaine résidentielle</span>
                
              p.e-description Notre clôture en maille de chaîne résidentielle est un excellent complément à la clôture en fer ornemental pour délimiter les très grands terrains. Disponible en plusieurs couleurs et hauteurs.
              
          article.media.h-product#maille__chaine__commerciale
            figure.media__figure
              img.u-photo(src="http://placehold.it/480x650")
              figcaption.e-description Maille de chaîne commerciale
              
            .media__content
              h3.media__header.p-name <span p-category>Maille de chaine commerciale</span>
                
              p.e-description Reconnu pour sa solidité, la clôture en maille de chaîne commerciale vous promet des années de service sans entretien.
                          
        // Next -> Finition
        section.pattern__page#cloture__finis
          .pattern-col-all
            header
              h1.pattern__page__header Nos finis
              p.e-description Nos finis sont fait en poudre de couleurs et cuites au four à haute température garantissant des années sans entretient et des couleurs qui ne ternissent pas.
            section.finis--couleurs
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini blanc
                
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini amande
                
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini taupe
                
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini brun
                 
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini vert
                 
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini noir
            section.finis--speciaux
              header
                h1.pattern__page__header Nos finis spéciaux
                p.e-description Nos finis spéciaux sont 
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini argent veiné
                .media__content
                  h3.media__header.p-name Argent veiné
                  p.e-description lorem ipsum sic dolor ametlorem ipsum sic dolor ametlorem ipsum sic dolor amet 
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini cuivre
                .media__content
                  h3.media__header.p-name Cuivre
                  p.e-description lorem ipsum sic dolor ametlorem ipsum sic dolor ametlorem ipsum sic dolor amet 
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini or veiné
                .media__content
                  h3.media__header.p-name Or veiné
                  p.e-description lorem ipsum sic dolor ametlorem ipsum sic dolor ametlorem ipsum sic dolor amet
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini noir texturé
                .media__content
                  h3.media__header.p-name Noir texturé
                  p.e-description lorem ipsum sic dolor ametlorem ipsum sic dolor ametlorem ipsum sic dolor amet 
              article.media.pattern__item--small
                figure.media__figure
                  img.u-photo(src="http://placehold.it/150x150")
                  figcaption.e-description Fini gris acier
                .media__content
                  h3.media__header.p-name Gris acier
                  p.e-description lorem ipsum sic dolor ametlorem ipsum sic dolor ametlorem ipsum sic dolor amet 
                   
        // Next -> Accessoires
        section.pattern__page#cloture__accessoires
          .pattern-col-all
            h2.pattern__page__header.p-name <span p-category>Nos accessoires</span>
            p.e-description Nous avons une vaste gamme d'accessoires pour compléter l'aménagement de vos rêves. Nous vous présentons ici quelques échantillons.
            
          article.media.pattern__item.h-product#cloture__accessoires--rampe
            figure.media__figure
              img.u-photo(src="http://placehold.it/150x150")
              figcaption.e-description Rampe
            .media__content
              h3.media__header.p-name <span p-category>Rampe</span>  
              p.e-description Que ce soit pour des balcons, des descentes d'escaliers, des patios ou rebords de toits, plusieurs types de rampes vous sont offert qui s'agencent à votre clôture.  couleurs et hauteurs.
              
          article.media.pattern__item.h-product#cloture__accessoires--rampeenverre
            figure.media__figure
              img.u-photo(src="http://placehold.it/150x150")
              figcaption.e-description Rampe en verre
            .media__content
              h3.media__header.p-name <span p-category>Rampe en verre</span>
              p.e-description Nous avons le modèle de rampe en verre, avec ou sans cadres, qui s'agence parfaitement à votre clôture. 
        
          article.media.pattern__item.h-product#cloture__accessoires--barriere
            figure.media__figure
              img.u-photo(src="http://placehold.it/150x150")
              figcaption.e-description Barrière
            .media__content
              h3.media__header.p-name <span p-category>Barrière</span>
              p.e-description Nous offrons un large éventail de barrières de styles et de dimensions variés.
        
          article.media.pattern__item.h-product#cloture__accessoires--barrierecoulissante
            figure.media__figure
              img.u-photo(src="http://placehold.it/150x150")
              figcaption.e-description Barrière coulissante
            .media__content
              h3.media__header.p-name <span p-category>Barrière coulissante</span>
              p.e-description Nous offrons un choix de barrières coulissantes <em>motorisées ou manuelles</em>.
        
          article.media.pattern__item.h-product#cloture__accessoires--portail
            figure.media__figure
              img.u-photo(src="http://placehold.it/150x150")
              figcaption.e-description Portail
            .media__content
              h3.media__header.p-name <span p-category>Portail</span>
              p.e-description Que ce soit un portail arrondi, impérial avec papillons ou personnalisé, nous avons le modèle qui vous convient.
          
          article.media.pattern__item.h-product#cloture__accessoires--tonnelle
            figure.media__figure
              img.u-photo(src="http://placehold.it/150x150")
              figcaption.e-description Tonnelle
            .media__content
              h3.media__header.p-name <span p-category>Tonnelle</span>
              p.e-description Qu'elle soit régulière, régulière avec ornements ou encore l'imposante tonnelle style Impérial, nous avons le modèle pour ajouter du style à votre propriété.
          
         
                                
        // Next -> FAQs
        section.pattern__page#pattern__modules__faqs
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h1.pattern__page__header FAQ
              p Nous installons ce que nous vendons mais vous pouvez aussi intaller vos propres clôtures. Contactez-nous pour en savoir plus.
          
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h3.faq__question
                a(href="#faq-1") Are you ready to get Hardboiled?
              .faq__answer#faq-1
                p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
          
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h3.faq__question
                a(href="#faq-1") Are you ready to get Hardboiled?
              .faq__answer#faq-1
                p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
          
          .pattern-col-all
            .pattern-col.pattern-col2-col3
              h3.faq__question
                a(href="#faq-1") Are you ready to get Hardboiled?
              .faq__answer#faq-1
                p Hardboiled Web Design: Fifth Anniversary Edition is for designers and developers who want to understand how to use the latest HTML and CSS technologies in their responsive website designs.
                                
        // Next -> Pied de page
        section.pattern__page
          .pattern-col-all
            footer.h-card(role="contentinfo")
              h3.p-name Philippe Paquette
              img.u-photo(src='http://placehold.it/100x100')
              p
                a(href='mailto:philippepaquette@cloturespp.com' class='u-email') philippepaquette@cloturespp.com
              p.p-job-title Propriétaire
              p
                a(href='http://cloturespp.com' class='u-url') Clôtures Philippe Paquette
              p.note Licence RAMQ 5665-4817-01
              p.p-street-address 2111, chemin Tessier
              p.p-locality Farnham
              p.p-region(title="Québec") Québec
              p.p-country-name Canada
              span.h-geo
                img(src='http://placehold.it/100x100')
                span.p-longitude(value='72.552106')
                span.p-latitude(value='45.162804')
              p.p-postal-code J2N 2P9
              p.p-tel t: 450-337-1378
              p.p-tel c: 450-521-5386
            
        
